.FeedbackOptions {
  display: flex;
  // margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  // align-items: center;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    min-width: 160px;

    outline-style: none;
    border-style: none;
    background-color: rgb(224, 196, 36);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s;
  }

  &__btn:hover {
    transform: scale(1.03);
    transition: all 0.3s;
  }

  &__btn:active {
    transform: scale(1);
    transition: all 0.3s;
  }

  button:first-child {
    background-color: rgb(68, 185, 98);
    // border-color: green;
  }

  button:last-child {
    background-color: rgb(223, 82, 82);
    // border-color: green;
  }

  & .icon {
    color: #ffffff;
    margin-right: 5px;
  }
}
